<!DOCTYPE html>

<html>

<head>
    <link rel = "stylesheet" href "style.css" />
    <title>E_CART</title>
</head>

<body>
    <div class = "grid-container">
        <header>
          <div class="brand">

            <a href="index.html">E-CART</a>
            
          </div>
          <div class="header-links">
           <a href ="cart.html"></a> 
           <a href="signin.html">Sign In</a>     
           </div>

        </header>
        <aside>
            shopping Categories
        </aside>
        <main class = "main"> 
            <div class="content">
                <ul class="products">
                    <li>
                        <div class="product">
                            <img src = "images/one.jpg" alt="product"
                            <div class="product-name">USB-STICK</div>
                            <div class="product-brand">SANDISK</div>
                            <div class="price">$1</div>
                        </div>


                    </li>
                </ul>
            </div>
           
        </main>

        <footer class="footer">Copyrighted all rights reserved.</footer>

    </div>
</body>
</html>