<!DOCTYPE html>

<html>

<head>
    <link rel = "stylesheet" href "style.css" />
    <title>E_CART</title>
</head>

<body>
    <div class = "grid-container">
        <header>
          <div class="brand">

            <a href="index.html">E-CART</a>
            
          </div>
          <div class="header-links">
           <a href ="cart.html"></a> 
           <a href="signin.html">Sign In</a>     
           </div>

        </header>
        <aside>
            shopping Categories
        </aside>
        <main class = "main">  
            <ul>
                <li>ITEM 1</li>
                <li>ITEM 2</li>
                <li>ITEM 3</li>
                <li>ITEM 4</li>
                <li>ITEM 5</li>
            </ul>
        </main>

        <footer class="footer">Copyrighted all rights reserved.</footer>

    </div>
</body>
</html>