<!DOCTYPE html>

<html>

<head><title>E_CART</title></head>

<body>
    <div>
        <header>
            E_CART_HELP
        </header>
        <aside>
            shopping Categories
        </aside>
        <main>  
            <ul>
                <li>ITEM 1</li>
                <li>ITEM 2</li>
                <li>ITEM 3</li>
                <li>ITEM 4</li>
                <li>ITEM 5</li>
            </ul>
        </main>

        <footer>Copyrighted all rights reserved.</footer>

    </div>
</body>
</html>